<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="atm">
      <section>
        <h3>入力画面</h3>
        <input type="number" v-model="nyuryokugaku" />
        <div>入力額{{nyuryokugaku}}円</div>
        <button v-on:click="nyukin">入金</button>
        <button v-on:click="syukkin" v-bind:disabled="zandaka === 0">
          出金
        </button>
      </section>

      <section>
        <h3>口座残高</h3>
        <div>{{zandaka}}円</div>
      </section>

      <section>
        <h3>取引記録</h3>
        <div v-for="log in logs" class="log">
          <p>{{log.date}}</p>
          <p>{{log.type}}</p>
          <p>{{log.money}}</p>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
